/*!project-file main css for codelou project William Spencer*/

/*  Document =======================================================*/

* {
  box-sizing: border-box;
}

header {
  /*padding-top: .2em;*/
  padding-bottom: 1.4em;
  background: #66ccff;
}

/*-- Image layout -- */
.flock  {
  max-width: 460px;
}
.soul {
  max-width: 280px;
  background-color: #ffcc00;
  border-radius: .6em; 
}
.monotone {
  display: inline-block;
}


.container {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

h1 {
  color: blue;
}

.main-footer {
  text-align: center;
  border-color: red;
  padding: 2em 0;
  background: #cc9900;
}



/* =============================================
            media queries
 ==================================================== */

 @media (min-width:  769px) {

   /*.wrap {
      min-height:  calc(100vh - 150px);    
   } */

   .container {
     margin: 0 auto;
     width: 70%;
     max-width: 1100px;
    }
  }
 }
