/*!project-file main css for codelou project William Spencer*/

/*  Document =======================================================*/

* {
  box-sizing: border-box;
}

.top {
  padding-top: .2em;
  padding-bottom: .5em;
  width: 100%;
  background-color: #00ffff;
}

.container {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

h1 {
  color: blue;
}

.main-footer {
  padding-top: .1px;
  height:  60px;
  background-color: #ff9900;
}

.nested {
  padding-left: 20px;
}

/* =============================================
            media queries
 ==================================================== */

 @media (min-width:  769px) {

   .wrap {
      min-height:  calc(100vh-60px);
   }

   .container {
     margin: 0 auto;
     width: 70%;
     max-width: 1000px;
   }

/*  potential lists or links though not placed or named
current items on watchlist if I make it: NATO  Balkans  Venezuala  Ukraine
   .watch-list,
   .main-nav li,
   .main-nav {
     display: inline;
   }
   */
 }
